.chessTable {
  margin: 0 auto;
  width: 60%;
}

.chessSquare {
  float: left;
  position: relative;
  width: 12%;
  padding-bottom: 10%;
  overflow: hidden;
}

.highlight>.dark, .highlight>.light {
  background-color: red !important;
}

.first-movements>.dark, .first-movements>.light {
  background-color: green !important;
}

.second-movements>.dark, .second-movements>.light {
  background-color: blue !important;
}

.dark {
  background-color: #b58863;
}

.light {
  background-color: #f0d9b5;
}
